APP_LOG_LEVEL="debug"
APP_SECRET_KEY="TOP_SECRET"

DB_URI="postgres://postgres:password@localhost:5432/gophkeeper?sslmode=disable"

GRPC_ADDRESS=":443"

TLS_CERT_FILE="./cert/cert.pem"
TLS_KEY_FILE="./cert/private.pem"

TOKEN_DURATION="15m"